"*":
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
  "autocomplete-modules":
    babelPluginModuleResolver: true
  core:
    automaticallyUpdate: false
    customFileTypes:
      "source.js.jsx": [
        "js"
        "jsx"
        "sequelizerc"
      ]
      "source.yaml": [
        "Dockerfile"
        "dockerignore"
        "env"
        "eslintignore"
        "gitignore"
      ]
    # disabledPackages: ["whitespace"]
    ignoredNames: [
      "yarn.lock"
      "package-lock.json"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/code"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
  "file-types":
    ".env*": "source.yaml"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
    ]
  "linter-eslint-node":
    autofix:
      fixOnSave: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  welcome:
    showOnStartup: false
