"*":
  "autocomplete-modules":
    babelPluginModuleResolver: true
  core:
    automaticallyUpdate: false
    customFileTypes:
      "source.js.jsx": [
        "js"
        "jsx"
        "sequelizerc"
      ]
      "source.yaml": [
        "Dockerfile"
        "dockerignore"
        "env"
        "eslintignore"
        "gitignore"
      ]
    ignoredNames: [
      "node_modules"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "package-lock.json"
      "yarn.lock"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/aelawad/code"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 18
    # zoomFontWhenCtrlScrolling: false
  "file-types":
    ".env*": "source.yaml"
  hyperclick:
    win32TriggerKeys: "altKey"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
    ]
  "linter-eslint":
    autofix:
      fixOnSave: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "minimap-git-diff":
    useGutterDecoration: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierEslintOptions: {}
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  welcome:
    showOnStartup: false
  # whitespace:
  #   ensureSingleTrailingNewline: false
