// Atom Dark UI (or use One Dark)
html, body, .tree-view, .tab-bar .tab {
  font-size: 13px;
}

// Minimap Package
.minimap .highlight-selected {
  background: yellow;
}

// File Icons
.medium-yellow:before { // mute yellow
  color: #a9885a;
}
.icon[data-name$='.js']:before { // js as jsx bug
  font-family: Mfizz;
  content: '\f129';
}

/* Deprecation Warning:
Update file: ~/.atom/packages/js-hyperclick/lib/js-hyperclick.js
Change L10 to: import { shell } from "electron"

Or until js-hyperclick is updated:
.deprecation-cop-status { color: #a9885a; }
*/
