// Atom Dark UI (or use One Dark)
html, body, .tree-view, .tab-bar .tab {
  font-size: 13px;
}

// Minimap Package
.minimap .highlight-selected {
  background: yellow;
}

// File Icons
.medium-yellow:before { // js
  color: #a9885a;
}
.icon[data-name^='.nycrc.yml']:before { // nyc
  color: #d28445;
}

// until js-hyperclick is updated
.deprecation-cop-status {
  // color: inherit;
  color: #a9885a;
}
